<style type="text/css">
  
  body{
  background-color: #029;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: white;
}
h4 {
  text-align: center;
  text-decoration: underline;
  color: #999;
}
.Email{
  text-align: center;
  color: white;
}
.Phone{
  text-align: center;
  color: white;
}
</style>
<h1>Contact 2</h1>
<h4>Name: <%=@contact2_name%></h4>
<p class="Email">Email: <%=@contact2_email%>
<p class="Phone">Phone Number: <%=@contact2_phone_number%></p>