// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #999;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: white;
}
h4 {
  text-align: center;
  font-weight: bold;
}
.Email{
  text-align: center;
  color: white;
}
.Phone{
  text-align: center;
  color: white;
}

